---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;
const path = Astro.url.pathname.replace(/\/$/, "");

const isHome = href === "/" && path === "";
const isOtherPages =
  typeof href === "string" && href.length > 1
    ? path.substring(1).startsWith(href.substring(1))
    : false;
const isActive = isHome || isOtherPages;
---
<!-- DO NOT FORMAT. IT ADDS AN EXTRA SPACE ON RENDERED CONTENT. -->
<a
  href={href}
  class:list={[
    className,
    "unset nav-link",
    { active: isActive },
  ]}
  {...props}
><slot /></a>

<style>
  .nav-link {
    color: rgb(var(--color-text-muted));
    background-image: none !important;
    font-size: 0.95rem;
  }

  .nav-link:hover,
  .nav-link.active {
    color: rgb(var(--color-text-heading));
  }
</style>
