---
---

<section class="mb-8">
  <div class="mb-4">
    <h1
      class="font-extrabold text-5xl md:text-6xl tracking-tight pt-4 pb-2 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br from-[#fb923c] via-[#f97316] to-[#ea580c] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
        Paritosh Baghel
      </span>
    </h1>
    <p class="text-2xl pb-4">Architect. Software Engineer. Blogger.</p>
  </div>
  <div>
    <p class="mb-5">
      I am a Senior Software Engineer with a passion for crafting digital
      solutions that make a real impact.
    </p>
    <p class="mb-5">
      With over 10+ years in the tech trenches, I've had the pleasure of diving into the nitty-gritty of
      software development, honing my skills in dotnet, python, java, javascript
      etc.. I have been part of startups, consulting and product based companies.
    </p>
  </div>
</section>
