---
/* 
  This layout is used in 
  - pages/index.astro
  - pages/blog.astro
  - pages/projects.astro
*/

// Import the global.css file here so that it is included on
import "../styles/global.css";

import Header from "../components/Header.astro";
---

<!DOCTYPE html>
<html class="theme-sleek" lang="en">
  <head>
    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="generator" content="Blogster" />
    <slot name="meta" />
  </head>

  <body>
    <a
      class="unset absolute z-20 left-[50%] -top-[100rem] translate-x-[-50%] bg-white text-black px-8 py-2 focus:top-4"
      href="#main"
    >
      Skip to content
    </a>

    <div class="page-shell">
      <Header />
      <main id="main" class="page-main">
        <slot name="main" />
      </main>
    </div>
  </body>
</html>
